<configuration>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %highlight{%5p} %c::%M():%L - %m%n"/>
        </Console>
        <File name="FileAppender" fileName="logs/application.log" append="true">
            <PatternLayout pattern="%d [%t] %5p %c::%M():%L - %m%n"/>
        </File>
    </appenders>
    <loggers>
        <root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </root>
    </loggers>
</configuration>